<h1>My Inventory</h1>
<table>
<tr>
    <th>BookTitle<th>
    <th>Author</th>
    <th>Description</th>
    <th>Language</th>
    <th>ISBN</th>
    <th>Bookcondition</th>
  </tr>
  <% @inventories.each do |mi| %>
  <% if mi.book %>
  <tr>
    <tr>
    <td><%= mi.book.title %></td>
    <td><%= mi.book.author %></td>
    <td><%= mi.book.description %></td>
    <td><%= mi.book.language %></td>
    <td><%= mi.book.isbn %></td>
    <td><%= mi.book.condition %></td>
  </tr>
  <% end %>
  <% end %>
</table>


