<p id="notice"><%= notice %></p>

  <b>first_name:</b>
  <%= @users.first_name %></br>
</p>

  <b>last_name:</b>
  <%= @users.last_name %></br>
</p>

<p>
  <b>email:</b>
  <%= @users.email %>
</p>








<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
