

<table>
  <tr>
    <th>First Name</th>
    <th>last Name</th>
    <th>Email</th>
    <th>postal address</th>
    <th>state</th>
    <th>country</th>
    <th>city</th>
    <th>pincode</th>
    <th>phone</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  

  <tr>
    <td><%= image_tag(@user.photo.url(:thumb)) %></td>
    <td><%=@user.first_name %></td>
    <td><%=@user.last_name %></td>
    <td><%=@user.email %></td>
    <td><%=@user.postal_address %></td>
    <td><%=@user.state%></td>
    <td><%=@user.country %></td>
    <td><%=@user.city %></td>
    <td><%=@user.pincode %></td>
     <td><%=@user.phone %></td>
    <td><%= link_to 'Edit', edit_user_path %></td>
</tr>



</table>

