<div id="welcome_box">
  <div id="content_right">
    <ul>
      <% @books.each do |book| %>
      <li class="clearfix">
        <img src="<%= book.photo.url(:thumb) %>" width="57" height="57" alt="" class="all" />
        <p><%= book.title %></p>
        <p>added: <%= link_to book.user.first_name, user_path(book.user) %></p>
        <p class="light"><%= time_ago_in_words(book.created_at) %> ago</p>
      </li>
      <% end %>
    </ul>
  </div>

  <div id="content_left" class="clearfix">
    <img src="images/welcome_img.png" width="198" height="234" alt="" class="all" />
    <p>Welcome to Book Swap!<br />
      Here you can swap books, share books, give away used
      books and get the books you want.<br /><br />It is the best place to make optimum use of your<br />
      old stack of books by giving away to those who need them
      and getting books we want from them.</p>
    <a href="/signup"class="register all">REGISTER</a>
    <a href="#" class="start-tour all">START THE TOUR</a>
  </div>
</div>

<div id="recent_people" class="clearfix">
  <div id="header_recent_people">
    <h2>People Recently on Books Swap</h2>
  </div>
  <ul>
    <% @users.each do |user|%>
    <li>
      <img src="<%= user.photo.url(:thumb) %>" width="57" height="57" alt="" />
      <p><%= link_to user.first_name, user_path(user) %></p>
      <p><%= pluralize(user.books.count, 'book') %></p>
    </li>
    <% end %>
  </ul>
</div>
