<h1>Listing Of Books</h1>
<li><%= link_to 'Inventory', inventories_path %></li>
<li><%= link_to 'Wistlist', wishlists_path %></li>
<li><%= link_to 'add a NewBook', new_book_path%></li>
<li><%= link_to 'browse', browse_books_path%></li>

<table>
  <tr>
    <th>BookTitle<th>
    <th>Author</th>
    <th>Description</th>
    <th>Language</th>
    <th>ISBN</th>
    <th>Bookcondition</th>
    <th></th>
  </tr>
  <% @books.each do |book| %>
  <tr>
    <td><%= book.title %></td>
    <td><%= book.author %></td>
    <td><%= book.description %></td>
    <td><%= book.language %></td>
    <td><%= book.isbn %></td>
    <td><%= book.condition %></td>
    <td>
      <%= link_to 'Add To Inventory', inventories_path(:book_id => book.id), "data-method" => :post %>

      <td><%= link_to 'Destroy', book, :confirm => 'Are you sure?', :method => :delete %></td>
    </td>
  </tr>
  <% end %>
</table>


