<h1>Browse Books</h1>
<%= will_paginate @books %>
<table>
  <tr>
    <th>BookTitle<th>
    <th>Author</th>
    <th>Description</th>
    <th>Language</th>
    <th>ISBN</th>
    <th>Bookcondition</th>
    <th></th>
  </tr>
  <% @books.each do |book| %>
  <tr>
    <td><%= image_tag(book.photo.url(:thumb)) %></td>
    <td><%= book.title %></td>
    <td><%= book.author %></td>
    <td><%= book.description %></td>
    <td><%= book.language %></td>
    <td><%= book.isbn %></td>
    <td><%= book.condition %></td>
    <td><%= link_to 'Add To Inventory', inventories_path(:book_id => book.id), "data-method" => :post unless current_user.inventories.collect(&:book_id).include?(book.id)%></td>
    <td><%= link_to 'Add To Wishlist', wishlists_path(:book_id => book.id), "data-method" => :post if book.user_id==current_user.id and !current_user.wishlists.collect(&:book_id).include?(book.id) %></td>

    <td><%= link_to 'Destroy', book, :confirm => 'Are you sure?', :method => :delete %></td>
    <td><%= link_to 'Edit', edit_book_path(book) %></td>

  </tr>
  <% end %>
</table>


