<h1>My Wishlist</h1>
<table>
  <tr>
    <th>BookTitle<th>
    <th>Author</th>
    <th>Description</th>
    <th>Language</th>
    <th>ISBN</th>
    <th>Bookcondition</th>
  </tr>
  <% @wishlists.each do |mw| %>
  <tr>
    <tr>
    <td><%= mw.title %></td>
    <td><%= mw.author %></td>
    <td><%= mw.description %></td>
    <td><%= mw.language %></td>
    <td><%= mw.isbn %></td>
    <td><%= mw.condition %></td>
  </tr>
</table>
<% end %>
