<h1>My Wishlist</h1>
<table>
  <tr>
    <th>BookTitle<th>
    <th>Author</th>
    <th>Description</th>
    <th>Language</th>
    <th>ISBN</th>
    <th>Bookcondition</th>
    <th></th>
  </tr>
  <% @wishlists.each do |mw| %>
  <tr>
    <tr>
    <td><%= image_tag(mw.book.photo.url(:thumb)) %></td>
    <td><%= mw.book.title %></td>
    <td><%= mw.book.author %></td>
    <td><%= mw.book.description %></td>
    <td><%= mw.book.language %></td>
    <td><%= mw.book.isbn %></td>
    <td><%= mw.book.condition %></td>
    <td><%= link_to "Send Request", new_request_path(:user => mw.book.user) %></td>
  </tr>
  <% end %>
</table>

